<h1>Pablo Solano | Mar 8th, 2022</h1>

<h5>Source Images:</h5>
<p>I found an ideal replica of the chest from <i>Legend of Zelda</i> on Reddit, which then led me to an image from the store's page. This was interesting, as the two chests differed in quality quite a bit. Photos of the interior were also available, but I opted to only replicate the ouside of the chest, as the inside did not meet the project specifications (ie. being full of treasure).</p>
<a href="https://www.reddit.com/r/zelda/comments/mpse6j/other_i_bought_a_treasure_chest_with_rupees/"><img src="https://preview.redd.it/8kpomo81ius61.jpg?width=960&crop=smart&auto=webp&s=9779b0d7bb253c08490e8daec5202f829af3a57d"></img></a>
<a href="https://www.gamersheek.co.uk/collectibles-c822/props-replicas-c956/gaming-c958/the-legend-of-zelda-rupee-paperweight-treasure-chest-p11164"><img src="{{ url_for('static', filename='images/store_chest.png') }}"></img></a>

<h5>Wireframe images</h5>
<p>I couldn't decide if black or white was better for wireframe, so I took screenshots with both. I went with grey as an in-between for the video.</p>
<div>
    <h5>Wireframe</h5>
    {% for f in wf %}
        <img src="{{ url_for('static', filename='images/maya/proj2/wf/' + f) }}"></img>
    {% endfor %}
</div>

<div>
    <h5>Smooth Shading</h5>
    {% for f in s %}
        <img src="{{ url_for('static', filename='images/maya/proj2/s/' + f) }}"></img>
    {% endfor %}
</div>

<p>As every good treaure chest does, my chest contains treasure. A hoard of a soon-to-be-discontinued currency, and a key to another treasure chest! I tried four other assets before settling on these, making that decision after one completely filled the scene with keyframes and (probably) caused some irreversible side-effects.</p>

<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bYNXDHNkhVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SZ31xhq5v2c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>This project was very challenging. Some things I know I could have done better, and other things could have been glitches as far as I know (for instance, at one point faces were spontaneously extruding without and keyframes being set). At the end of the day, I am satisfied with how my first model turned out. Thank you for reading!</p>

<div>
    Sources:
    <ul>
        <li><a href="https://www.thingiverse.com/thing:3135523/files">Only free hook latch on the internet, thank you</a></li>
        <li><a href="https://ambientcg.com/view?id=Metal036">Latch and pedestal texture</a></li>
        <li><a href="https://skfb.ly/6DDsM">"Penny (Coin)" by Anthony Yanez is licensed under Creative Commons Attribution (http://creativecommons.org/licenses/by/4.0/)</a></li>
        <li><a href="https://www.turbosquid.com/3d-models/free-key-3d-model/1082413#">Key model</a></li>
        <li><a href="https://ambientcg.com/view?id=Metal007">Texture used for decorative bumps</a></li>
        <li><a href="https://ambientcg.com/view?id=Metal011">Texture used for metallic edges</a></li>
        <li><a href="https://ambientcg.com/view?id=Wood066">Main chest texture</a></li>
        <li>The reference images at the top of this page also have links to their sources embedded within them</li>
        <li>Finally, thank you to the 100 or more strangers who gave me the tips necessary to complete this project</li>
    </ul>
</div>