<h1>Pablo Solano | Apr 28th, 2022</h1>

<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qG2AQDSOht4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <img style="display: block;margin-left: auto;margin-right: auto;" width="560" height="315" src="{{ url_for('static', filename='images/maya/proj5/editor.PNG') }}"/>
    <img style="display: block;margin-left: auto;margin-right: auto;" width="560" height="315" src="{{ url_for('static', filename='images/maya/proj5/editor2.PNG') }}"/>
    <img style="display: block;margin-left: auto;margin-right: auto;" width="560" height="315" src="{{ url_for('static', filename='images/maya/proj5/editor3.PNG') }}"/>
</div>

<div>
    Sources:
    <ul>
        <li><a href="https://improvevideostudio.com/the-ultimate-beginners-guide-to-shooting-in-4k/">Image</a></li>
    </ul>
</div>