<h1>Pablo Solano | Apr 28th, 2022</h1>

<div style="text-align:center;">
    Image on Dominoes:<br/>
    <img style="display: block;margin-left: auto;margin-right: auto;" width="560" src="https://i.etsystatic.com/21091952/r/il/2bd96b/2877056142/il_fullxfull.2877056142_16jl.jpg">
</div>
<br/><br/>
<div style="text-align:center;">
    Script Info: <br/>
    The script is fully functional, and has all of the extra credit features implemented. Note that accepting the render will cause 480 frames of Arnold rendering. My script renders all 20 seconds of the animation, assuming the user will only use the frames they need for their animation. Neither Maya or the base installation of Python have video tools included, so I could not create the video from the frames for the user without requiring extra dependencies.
</div>
<br/><br/>
<div style="text-align:center;">
    <div>
    Current Script (video trimmed manually):
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Xlr_rDAbD8s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br/>
    <div>
    Class Presentation:
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qG2AQDSOht4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<br/>
<div style="text-align:center;">
    Animation Images:
    <img style="display: block;margin-left: auto;margin-right: auto;" width="560" src="{{ url_for('static', filename='images/maya/proj5/half.png') }}"/>
    <br/>
    <img style="display: block;margin-left: auto;margin-right: auto;" width="560" src="{{ url_for('static', filename='images/maya/proj5/all.png') }}"/>
    <br/>
    Editor images (arnold version hides texture):
    <img style="display: block;margin-left: auto;margin-right: auto;" width="560" src="{{ url_for('static', filename='images/maya/proj5/editor.PNG') }}"/>
    <br/>
    <img style="display: block;margin-left: auto;margin-right: auto;" width="560" src="{{ url_for('static', filename='images/maya/proj5/editor2.PNG') }}"/>
    <br/>
    <img style="display: block;margin-left: auto;margin-right: auto;" width="560" src="{{ url_for('static', filename='images/maya/proj5/editor3.PNG') }}"/>
</div>
<br/>
<div>
    Sources:
    <ul>
        <li><a href="https://www.etsy.com/ie/listing/1097890171/disney-pixar-luxo-ball-wall-sticker-high">Current Image</a></li>
        <li><a href="https://improvevideostudio.com/the-ultimate-beginners-guide-to-shooting-in-4k/">Class Presentation Image</a></li>
    </ul>
</div>