<h1>Pablo Solano | Feb 17th, 2022</h1>

<p>First I followed the given tutorial to create an animation based on our solar system. The end product looks rather ugly in my opinion, leaving everything, including the scenes background, untextured. This tutorial served well in showing why scene hierarchies are good at speeding up a workflow, but it was not good at producing an animation a reasonable person would enjoy watching.</p>

<div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/jCj6VI5j-7c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
For the creative portion of this assignment, I decided to make corrections to the most glaringly unsightly aspects of the original tutorial animation, and added a fun change as well.
<ol>
    <li>I changed all of the materials in the scene. I found assets on the internet for all of the planets, Pluto, and the Sun, and an image of stars with the Milky Way galaxy included. I opted to use the Earth's daytime view, as it looked the most natural in my opinion. I also had to experiment with the UV editor to change the orientation of the material I applied to Saturn's ring, as it applied incorrectly at first. I used the same image for all of the moons in the scene, which felt acceptable as they aren't large enough in the animation to tell.</li>
    <li>I was also bothered by how uniformly the planets were moving in orbit, so I decided to change their orbital patterns. I found the real timings online and changed how much they rotate accordingly. This involved a little math. I did not, however, change any of the planets' rotations or the speed at which their moons were orbiting.</li>
    <li>I thought a nice way to end the animation would be to give Earth a birthday celebration. I did this by having the camera zoom in on Earth after it makes a full revolution around the Sun, and giving it a party hat. Coordinating all the planets to stop halfway through the animation, the camera zoom, and other little things (such as the party hat rotating) involved lots of messing around with setting key frames.</li>
</ol>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/cGrQ_SM8Ibc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>I learned a lot while doing this project, and I look forward to making more animations soon. Thank you for reading!</p>

<div>
    Sources:
    <ul>
        <li><a href="https://www.solarsystemscope.com/textures/">Resources for most materials</a></li>
        <li><a href="http://planetpixelemporium.com/pluto.html">Pluto image</a></li>
        <li><a href="https://courses.lumenlearning.com/astronomy/chapter/physical-and-orbital-data-for-the-planets/">Orbital timings</a></li>
        <li>"<a href="https://skfb.ly/6WQ9n">Party Hat v2</a>" by Glitch5970 is licensed under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>.</li>
    </ul>
</div>