<h1>Pablo Solano | Apr 7th, 2022</h1>

<div style="text-align: center;">
    <!-- Links to project -->
    Playblast:
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0uQ20c6-L4Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br/>
    <br/>
    Arnold (ironically, the render was the quick part of this process):
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zbVaNM0aOOs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <!-- Storyboards -->
    <h2>Storyboard:</h2>
    <img width="850" height="1100" src="{{ url_for('static', filename='images/maya/proj4/storyboard.jpg') }}"></img>
    <br/>
</div>

<div>
    <div style="text-align: center;">
    I took screenshots at several points during the creation of this animation:
        <div>
            <img width="850" src="{{ url_for('static', filename='images/maya/proj4/part1.PNG') }}"></img>
        </div>
        <br/>
        <div>
            <img width="850" src="{{ url_for('static', filename='images/maya/proj4/part2.PNG') }}"></img>
        </div>
        <br/>
        <div>
            <img width="850" src="{{ url_for('static', filename='images/maya/proj4/part3.PNG') }}"></img>
        </div>
        <br/>
        <div>
            <img width="850" src="{{ url_for('static', filename='images/maya/proj4/part4.PNG') }}"></img>
        </div>
        <br/>
        <div>
            <img width="850" src="{{ url_for('static', filename='images/maya/proj4/part5.PNG') }}"></img>
        </div>
        <br/><br/>
    </div>
</div>
<br/>

<div>
    Sources:
    Dark Marble: https://ambientcg.com/view?id=Marble016
    Gold Metal: https://ambientcg.com/view?id=Metal007
    Wood: https://ambientcg.com/view?id=Wood066
    Thank you!
</div>