{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
<script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <a target="_blank" href="https://github.com/pasolano/appml">
        <img class="title-logo" src="static/images/github.svg">
        Script Repository
    </a>
    </br>
    <h1>Formal</h1>
    {% set type = "formal" %}
    {% for filename in formal %}
        {% include "dropdown.html" %}
    {% endfor %}
    </br>
    <h1>Informal</h1>
    {% set type = "informal" %}
    {% for filename in informal %}
        {% include "dropdown.html" %}
    {% endfor %}
    <p>{{ test }}</p>
</div>

<script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>

{% endblock %}
