{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper fixed-wrapper">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a id="close" class="button" href="javascript:$('.terminal').hide();$('#terminal-logo').show()"></a>
                            <a id="min" class="button" href="javascript:$('.message').hide();$('.terminal').css('height', '30px')"></a>
                            <a id="max" class="button" href="javascript:$('.message').show();$('.terminal').css('height', '260px')"></a>
                        </div>
                        <span class="title">Terminal</span>
                    </div>
                    <div class="message">
                        <span class='prompt'>
                        <span class='user'>pablo</span><span class="at">@</span><span class="path">/home/pasolano/</span><span class="greater-than">></span><span class="dollar">$&nbsp;</span></span><span class="typed"></span>
                        <form action="{{ url_for('terminal_input') }}" method="post"><span class="greater-than">></span><span class="dollar">$&nbsp;</span><input autocomplete="off" spellcheck="false" placeholder="cd projects..." type="text" name="response"/>
                        </form>
                    </div>
                </div>
            </div>
            <button id="terminal-logo" onclick="$('#terminal-logo').hide();$('.terminal').show()"></button>
        </section>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">Pablo</p>
            <p class="text-title desktop-view">Solano</p>
            <p class="text-title mobile-view">Pablo Solano</p>
            <div class="social-icons">
                <a target="_blank" href="https://github.com/pasolano">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/pabloadriansolano/">
                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                </a>
            </div>
        </div>
        <div class="middle-text">
            <p class="text-content">I am a third-year computer science major at William & Mary interested in game development and cybersecurity.
                My proudest achievements so far have been winning at VTHacks, developing tools for cardio-oncological practice through VCU Health,
                and being a 1693 Scholar (William & Mary's highest honor). I am a bilingual/biliterate Spanish/English speaker with a strong background in the performing arts.</p>
            <br>
        </div>
    </div>
</div>
{% endblock %}
